@import "../App.scss";
$bgcolor: rgb(61, 34, 78);




    
.container {
    margin-left: 12em;
    margin-bottom: 10px;
    background: $bgcolor2;
}
.parent-container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.active{
    margin-top: 10px;
    text-align: center;
    // color: $bgcolor;
    height: 100px;
    flex-basis: 200px;
    margin-bottom: 10px;
    background: $bgcolor2;
    // border-radius: 10px; 
    // border:10px solid $bgcolorbuttons;
    border-image: $bgcolorbutton2 10;
    //  background: $bgcolorbuttons; 
}


.child-container-flex {
    // background-color: $bgcolor2; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.container-flex {
    background-color: darkmagenta;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.parent-flex-item {
    margin-top: 10px;
    text-align: center;
    // color: $bgcolor;
    height: 100px;
    flex-basis: 200px;
    margin-bottom: 10px;
    background: $bgcolor2;
}
.parent-flex-item:hover {
    transition: 1s ease-in-out;
    background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    cursor: pointer;
}
// background-color: #7f5a83;
// background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
.child-flex-item1 {
    opacity: 0.1;
    // margin-top: 10px;   
    border-radius: 5%;
    text-align: center;
    // color: white;
    height: 80px;
    flex-basis: 170px;
}

.child-flex-item2 {
    opacity: 0.1;
    // margin-top: 10px;
    border-radius: 5%;
    text-align: center;
    // color: white;
    height: 80px;
    flex-basis: 85px;
}

.child-container-flex-4-child {
    justify-content: space-evenly;
    flex-direction: row;
}

.child-flex-item4 {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    border-radius: 5%;
    text-align: center;
    // color: white;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    // flex-basis: 10px;
}
.child-flex-item5 {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    border-radius: 5%;
    text-align: center;
    // color: white;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    // flex-basis: 10px;
}
.child-flex-item6 {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    border-radius: 5%;
    text-align: center;
    // color: white;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    // flex-basis: 10px;
}

.child-flex-item4-child {
    background-color: white;
    align-content: space-around;
    opacity: 0.1;
    margin-top: 5px;
    border-radius: 5%;
    text-align: center;
    color: white;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 70px;
}

.child-flex-item5-child {
    background-color: white;
    align-content: space-around;
    opacity: 0.1;
    margin-top: 5px;
    border-radius: 5%;
    text-align: center;
    color: white;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 62px;
}
.child-flex-item6-child {
    background-color: white;
    align-content: space-around;
    opacity: 0.1;
    margin-top: 5px;
    border-radius: 5%;
    text-align: center;
    color: white;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 62px;
}

.child-flex-item3 {
    opacity: 0.1;
    border-radius: 5%;
    text-align: center;
    height: 80px;
    flex-basis: 42px;
}

.child-container-flex-4 {
    align-content: space-around;
    flex-direction: row;
    background-color: $bgcolor2;
}

#flex-child {
    background-color: white;
}

.child-flex-item-3 {
    opacity: 0.1;
    // margin-top: 10px;
    // box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 255, 255, 0.701);
    border-radius: 5%;
    text-align: center;
    // color: white;
    height: 80px;
    flex-basis: 50px;
}