@import "../App.scss";

.divA{
  color: #E0E1E4;
  padding: 5px;
}
.dropSide {
  display: block;
  width: 280px;
  padding: 22px;
  float: right;
}
.arrowIcon{
  // width: ;
}
.dropbtn{
  color: #E0E1E4;
  border-radius: 7px;
  border: none;
  background-image: linear-gradient(315deg, #632158 0%, #701975 74%);
}
.dropbtnchoices{
  background-color: white;
  color:black;
  opacity: 0.1;
}
.horizontalLine{
  width: 172px;
  height: 2px;
  border-radius: 10px;
  color: white
}



// .dropdownButton {
//   display: "block";
//   width: "250";
//   padding: "30";
//   float: "right" 
// }

// #padd{
//   width: 80%;
// }
// .bgcolor{
//   background-color: linear-gradient(315deg, #37D5D6 0%, #36096D 74%) !important;
// }
// #padd{
//   width: 80%;
// }