.Resizer {
  opacity: 0.9;
  box-sizing: border-box;
  background-clip: padding-box;
}
.parentDiv{
  background-image:linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  height: 82vh;
  margin-left: 210px;
  margin-right: 100px;
  margin-top: 0px;
  border-radius: 3px;
}
.xyz{
  display: flex;
  height: 70%;
  position: absolute;
  top: 180px;
  width: 55%;
  left: 220px;
}


.Resizer.vertical:not(.disabled) {
  position: relative;
  z-index: 1;
  margin: auto;
  height: auto;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  cursor: col-resize;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  padding-left:3px;
  padding-top:25px;
  margin-left: 1px;
}
.Resizer.vertical:not(.disabled)::after {
  content: '=======';
  position: relative;
  top: 20%;
  left: 50%;
  color: black;
  -webkit-transform: rotate(90deg);
  font-size: 20px;
  letter-spacing: -20px;
  display: -webkit-inline-flex;
  align-items: center;
}
.Resizer.horizontal:not(.disabled) {
  position: relative;
  z-index: 1;
  margin: -5px ;
  height: 20px;
  width: auto;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  cursor: row-resize;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin-top: -4.5px;
  padding-left:400px;
  padding-right:400px;
}

.Resizer.horizontal:not(.disabled)::after {
  content: '========';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: black;
  font-size: 20px;
  letter-spacing: -20px;
  align-items: center;
}


.Resizer.disabled {
  cursor: not-allowed;
}

.maxwidth {
  color: rgb(65, 24, 90);
}