.App{
background-color: #1e2a6e;
background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}
$bgcolor2:linear-gradient(315deg, #1b2845 0%, #274060 74%);
$bgcolorbuttons:linear-gradient(315deg, #37D5D6 0%, #36096D 74%);
$bgcolorbutton2: linear-gradient(315deg, #88a9a9fd 100%,#37D5D6 0% );